Deep-CNN-stage/venv/
Deep-CNN-stage/model/save/*
data1/
data2/
data3/
data4/
data1_CutByPhuc/
data2_CutByPhuc/
data3_CutByPhuc/
data4_CutByPhuc/
repartition1/
repartition2/
repartition3/
repartition4/
*.png
*.jpg
*.JPG
*.PNG
*.hdf5
